.nav-bar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #15141f;
  a.active {
    svg {
      fill: #f75c43;
    }
  }
  svg {
    fill: grey;
    width: 50px;
    height: 40px;
  }
}
